.env.development
.env.production
**.env
**/__pycache__
**/.vscode
**/env
**/.ruff_cache
**.log
**.db
/misc
/node_modules
/test-results
/playwright-report
/blob-report
/playwright/.cache
.mypy_cache
.coverage