.env.development
.env.production
**.env
**/__pycache__
**/.vscode
**/env
**/.ruff_cache
**.log
**.db
/misc
/node_modules
/test-results
/playwright-report
/blob-report
/playwright/.cache
/frontend/e2e/.auth/
/frontend/playwright-report/
/frontend/test-results/
.mypy_cache
.coverage